<% content_for :title do %>
  <%= current_article.title %>
<% end %>

<% wrap_layout :layout do %>
  <nav class="paginate">
      <% if prev_article = current_article.next_article %>
        <a rel="prev" href="<%= prev_article.url %>" class="prev">◀</a>
      <%else%>
        <a rel="prev" href="/index.html" class="prev">◀</a>
      <%end%>

      <% if next_article = current_article.previous_article %>
          <a rel="next" href="<%= next_article.url %>" class="next">▶</a>
      <% end %>
  </nav>

  <div class="container article-page">
    <section class="page">
      <nav class="issues">
        <ul class="clearfix">
            <li class="active"><a href="/index.html">The Voice Of ThoughtWorkers</a></li>
        </ul>
      </nav>
        <article>
          <header><h1><%= current_article.title %></h1></header>
          <div class="article-body">
            <%= yield %>
          </div>
          <aside class="left-column clearfix">
              <div class="authors">
                <h4>本期好声音来自</h4>
                <ul>
                <% current_article.data.authors.each do |author|%>
                  <li>
                      <% if author.class != String %>
                        <% if author['about']%>
                          <a href="<%= author['about'] %>" target="blank"> <%= author["name"] %></a>
                        <%else%>
                          <%= author["name"] %>
                        <%end%>
                      <% else %>
                        <%= author %>
                      <% end %>
                  </li>
                <% end %>
                </ul>
              </div>
          </aside>
        </article>
      </section>
  </div>
  <div class="footer">
      <span>ThoughtWorks 2013 © </span><a href="https://jinshuju.net/f/n0mD0y" target="blank">意见反馈</a>
  </div>
<% end %>
